@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,600&family=Nanum+Gothic&family=Roboto&family=Saira+Semi+Condensed:wght@600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
}

body{
    background-image: url(file:///C:/Users/cardo/Downloads/s2.webp);
    background-position: center; /*centra la imagen del background*/
    background-size: cover ; /*expande la imagen*/
    background-attachment: fixed;

}

/*Header*/
header{
    background-color: rgb(0 0 0 / 37%);
}

.nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;  
    justify-content: flex-end;
} 

.nav li{
    margin: 10px;
    padding: 5px;
}

.nav .header {
    color: white;
    font-size: 20px;
    text-decoration:none;
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.header:hover{
    background-color: #eb8377;
}
/*Fin de header*/

/*Informacion*/
.contenedor{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.contenedor h2{
    margin-bottom: 15px;
    color: #eb8377;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 40px;
}
.contenedor h3{
    margin-bottom: 15px;
    color: #eb8377;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 30px;
}

.contenedor p{
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor a{
    font-size: 17px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    font-weight: 700;
}

.contenedor img{
    width: 25px;
    margin-right: 15px;
}
/*Fin de informacion*/

/*Formulario*/
.fila{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    gap: 15px;

}

.col{
    display: flex;
    flex-direction: column;
}

label{
    color: white;
}

.contenido{
    border-radius: 5px;
    margin-bottom: 5px;
    height: 30px;
    
}
.contenedor form , textarea{
    width: 100%;
    padding: 15px 16px;
    font-size: 16px;
    border: 1 px solid #dbdbdb;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.contenedor form textarea{
    max-width: 330px;
    min-height: 140px;
    max-height: 150px;
}

.contenedor .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    background: #101819 ;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.contenedor .btn-enviar:hover{
   background-color: #eb8377; 
}
/*Fin de formulario*/

/*Medias*/
@media all and (max-width:500px){

    /*Informacion*/
    .contenedor{
        display: flex;
        flex-direction: column
    }
    .contenedor h2{
        font-size: 30px ; 
        text-align: center;
    }

    .contenedor h3{
        margin-bottom: 15px;
        font-size: 25px;
        text-align: center;
    }

    .contenedor p{
        margin-bottom: 30px;
        color: white;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        text-align: left ;
        padding-left: 50px;
    }

    .contenedor a{
        display: flex;
        font-size: 17px;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        color: white;
        font-weight: 700;
        text-align: center;
        justify-content: space-around;
}
    /*Formulario*/

    
    .fila{
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0;
        gap: 15px;
        justify-content: center;
    }
    

    label{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }




    .contenedor form textarea{
        max-width: 330px;
        min-width: 330px;
        min-height: 140px;
     max-height: 150px;
    }

}
/*Fin de medias*/
